In [1]:
import pandas as pd

In [17]:
dict_medidas = {'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80], 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [20]:
dict_medidas

{'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [23]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [24]:
df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176

## Medidas Resumo

### Medidas de Posição

In [26]:
# media
df_medidas["idade"].mean()

np.float64(41.77777777777778)

In [27]:
# mediana
df_medidas["idade"].median()

np.float64(40.0)

In [29]:
# moda
df_medidas["idade"].mode()

0    25
Name: idade, dtype: int64

In [30]:
# moda
df_medidas["altura"].mode()

0    174
Name: altura, dtype: int64

### Medidas de Dispersão

In [31]:
# variância
df_medidas["idade"].var()

np.float64(509.94444444444446)

In [32]:
# desvio padrão
df_medidas["idade"].std()

np.float64(22.58194952709895)

In [33]:
# coeficiente de variação - Idade
df_medidas["idade"].std() / df_medidas["idade"].mean() * 100

np.float64(54.05253876167302)

In [34]:
# coeficiente de variação - Altura
df_medidas["altura"].std() / df_medidas["altura"].mean() * 100

np.float64(3.4803552812368785)